.card-text {
    font-size: 2em;
}

.sunset {
    background-color: #010c72;
}

.sunrise {
    background-color: #ff0055
}

mwl-gauge {
    width: 50%;
    height: 50%;
    display: block;
    margin:auto;
    
  }
